.about {

    &.about-top {
        padding-block: clamp(3rem, 2.648rem + 1.5vw, 4rem) 0;

        & h1 {
            margin-bottom: 16px;
        }

        & img {
            margin-top: clamp(3.5rem, 2.972rem + 2.25vw, 5rem);
        }
    }

    &__information {

        &.dark {
            color: var(--color-gray-alt);
            background:
                radial-gradient(22.21% 39.61% at 84.2% 17.28%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%),
                radial-gradient(20.07% 30.61% at 15.94% 62.28%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%),
                linear-gradient(0deg, #030A16, #030A16);

        }

        &-inner {
            display: flex;
            flex-direction: column;
            // gap: clamp(6rem, 5.252rem + 3.19vw, 8.125rem);
            gap: clamp(2rem, -0.157rem + 9.2vw, 8.125rem);
        }

        & .wrapper {
            display: flex;
            gap: clamp(2rem, 1.296rem + 3vw, 4rem);

            @include tablet {
                flex-direction: column;
            }

            &:first-child {
                & ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 20px;

                    @include phone {
                        flex-direction: column;
                    }

                    & li {
                        width: calc(50% - 10px);
                        padding: 24px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        background: #FFFFFF0A;

                        @include mobile {
                            padding: 20px;
                            gap: 20px;

                        }

                        @include phone {
                            width: 100%;
                        }

                    }
                }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                @include tablet {
                    flex-direction: column;
                }
            }

            & ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 16px;

                @include mobile {
                    gap: 14px;
                }

                & li {
                    position: relative;
                    display: flex;
                    gap: 16px;

                    @include mobile {
                        gap: 14px;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        min-width: 24px;
                        height: 24px;
                        background: url(../images/icon/list-style.svg) no-repeat center;
                    }
                }
            }

            & .column {
                max-width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;

                @include tablet {
                    max-width: 100%;
                    gap: 16px;

                }

                & img {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                }
            }
        }
    }

    &.dark {
        color: var(--color-gray-alt);
        background: radial-gradient(22.21% 39.61% at 84.2% 17.28%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%), radial-gradient(20.07% 30.61% at 15.94% 62.28%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%), linear-gradient(0deg, #030A16, #030A16);

        & .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            & .info {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;

                @include mobile {
                    gap: 24px;
                }
            }
        }
    }

    &.home {

        @include mobile {
            display: none;
        }

        & .wrapper {
            @include mobile {
                flex-direction: column;

                & .info {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }

        & img {
            margin-top: clamp(1.25rem, 0.282rem + 4.13vw, 4rem);
        }
    }
}