.advantages {
    background: var(--color-white-alt);

    &__list {
        margin-top: clamp(3.5rem, 2.62rem + 3.76vw, 6rem);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @include tablet {
            justify-content: center;
        }

        & li {
            width: calc(25% - 15px);
            padding: 32px 24px;
            color: var(--color-white);
            background: var(--color-black);

            @include tablet {
                width: calc(33% - 11px);
            }

            @include mobile {
                padding: 20px;
                width: calc(50% - 10px);
            }

            @include phone {
                width: 100%;
            }

            & h5 {
                color: var(--color-gray-alt);
            }

            & p {
                margin-top: 16px;
                color: var(--color-gray);
                @include fluid-text(18, 16);
            }
        }
    }
}