.blog {
    background: var(--color-white);

    &.post {
        background: var(--color-white-alt);
    }

    &.interested {
        background: var(--color-white-alt);

        & .interested__inner {
            position: relative;

            @include phone {
                display: flex;
                flex-direction: column;
            }
        }

        & .button {
            position: absolute;
            top: 12px;
            right: 0;

            @include mobile {
                top: 0;
            }

            @include phone {
                margin-top: 32px;
                position: static;
                order: 1;
            }
        }

        & .blog__list {
            margin-top: clamp(2rem, 1.296rem + 3vw, 4rem);
        }
    }

    & .top {
        display: flex;
        justify-content: space-between;

        & h4 {
            font-family: "Bicubik";
            font-size: 32px;
            font-weight: 400;
            color: var(--color-blue);
            text-transform: uppercase;
        }

        & .info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 4px;
            font-size: 16px;
            color: var(--color-white);

            & .time {
                color: var(--color-gray);
            }
        }
    }

    & .bottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__inner {
        position: relative;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &>li {
            position: relative;
            z-index: 0;
            padding: 32px 24px;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: -1;
                opacity: .6;
                background: radial-gradient(97.17% 102.33% at 94.68% -2.33%, rgba(137, 137, 137, 0) 0%, rgba(137, 137, 137, 0.15) 100%), linear-gradient(0deg, #030A16, #030A16);
            }

            @include tablet {
                max-width: calc(50% - 10px);
            }

            @include mobile {
                padding: 20px;
                max-width: 100%;
                min-height: 300px;
            }

            & p {
                @include fluid-text(18, 16);
                color: var(--color-gray);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                line-clamp: 2;
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-gray-alt);

        @include hover {
            color: var(--color-blue);

            &::after {
                rotate: 45deg;
            }
        }

        &::after {
            content: '';
            display: inline-block;
            min-width: 24px;
            height: 24px;
            background: url(../images/icon/arrow-up-right.svg) no-repeat center;
            transition-duration: var(--transition-duration);
        }

        & h5 {
            font-size: 24px;
        }
    }

    .pagination {
        margin-top: clamp(2rem, 1.296rem + 3vw, 4rem);
        padding-top: 20px;
        border-top: 1px solid var(--color-gray-alt);
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .pagination__button {
            @include reset-button;
            @include flex-center;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            cursor: default;
            gap: 16px;

            & span {
                @include tablet {
                    display: none;
                }
            }
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 2px;
        }

        & .page-numbers {
            padding: 0 10px;
            @include flex-center;
            width: 40px;
            height: 40px;
            color: var(--color-black);
            cursor: pointer;

            @include hover {
                background-color: var(--category-blue);
                color: var(--color-white);
            }

            &.dots {
                @include hover {
                    cursor: default;
                    background-color: var(--category-white);
                    color: var(--color-black);
                }
            }

            &.next,
            &.prev {
                width: auto;
            }

            &.current {
                color: var(--color-white);
                background: var(--color-blue);
            }
        }

        &__button {

            & a {
                @include flex-center;
                @include squere(40px);
                color: var(--color-white);
                background: var(--color-blue);

                @include hover {
                    background-color: var(--category-blue);
                    color: var(--color-white);

                }

                &.disabled {
                    pointer-events: none;
                    opacity: .5;
                }
            }
        }

    }

    &-top {

        padding-top: clamp(3rem, 2.648rem + 1.5vw, 4rem);

        & h1 {
            margin: 12px 0 16px;
        }

        &__list {
            margin-top: clamp(3rem, 2.648rem + 1.5vw, 4rem);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            @include tablet {
                display: flex;
                flex-direction: column;
            }

            &>li {
                position: relative;
                z-index: 0;
                display: flex;
                gap: 20px;

                @include phone {
                    flex-direction: column;
                    align-items: center;

                }

                &:first-child {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: normal;
                    padding: 32px 24px;
                    grid-column: 1 / 2;
                    grid-row: 1 / 4;

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: -1;
                        opacity: .4;
                        background: radial-gradient(97.17% 102.33% at 94.68% -2.33%, rgba(137, 137, 137, 0) 0%, rgba(137, 137, 137, 0.15) 100%), linear-gradient(0deg, #030A16, #030A16);
                    }

                    @include tablet {
                        height: 500px;
                    }

                    @include mobile {
                        padding: 20px;
                        height: 400px;
                    }

                    @include phone {
                        height: 300px;
                    }

                    & .date {
                        color: var(--color-white);
                    }

                    & .blog__link {
                        margin: 0;
                        color: var(--color-white);

                        @include hover {
                            color: var(--color-blue);
                        }
                    }
                }

                & img {
                    width: 180px;
                    height: 100%;
                    object-fit: cover;

                    @include phone {
                        width: 100%;
                        max-height: 182px;
                    }
                }

                & p {
                    @include fluid-text(18, 16);
                    color: var(--color-gray);
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                }
            }
        }

        & .info {
            font-size: 14px;
            display: flex;
            gap: 4px;

            @include phone {
                font-size: 16px;
                position: absolute;
                top: 20px;
                right: 20px;
                flex-direction: column;
                align-items: flex-end;

                @include phone {
                    color: var(--color-white);
                }
            }

            & .date {
                color: var(--color-blue);

                @include phone {
                    color: var(--color-white);
                }
            }
        }

        & .blog__link {
            margin: 24px 0 12px;
            color: var(--color-black);

            @include phone {
                margin-top: 0;
            }

            @include hover {
                color: var(--color-blue);
            }
        }

        & .categories__list {
            padding: 24px 0 0 0;

            @include mobile {
                padding-top: 16px;
            }
        }
    }

    & h1 {

        & span {
            @include fluid-text(48, 20);
        }
    }
}

.categories__list {
    padding: 32px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    @include mobile {
        padding: 20px 0 32px;
    }

    & li {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        color: var(--color-white);
        @include flex-center;
        padding: 4px 10px;
        color: var(--color-white);
        background: var(--color-blue);
        transition-duration: var(--transition-duration);

        &:nth-child(3n + 1) {
            background: var(--category-blue);
        }

        &:nth-child(3n + 2) {
            background: var(--category-purple);
        }

        &:nth-child(3n + 3) {
            background: var(--category-orange);
        }

        @include hover {
            background: var(--color-black);
        }

        & a {}
    }
}