.button {
    @include reset-button;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;

    padding: 0 24px;
    min-width: 56px;
    height: var(--button-height);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--color-white);
    background: var(--color-blue);
    border: 2px solid var(--color-blue);

    @include phone {
        width: 100%;
    }

    @include hover {
        color: var(--color-blue);
        background: var(--color-transparent);
    }

    &--transparent {
        background: var(--color-transparent);

        @include hover {
            background: var(--color-blue);
        }
    }

    &-chat {
        @include squere(56px);
        position: fixed;
        right: 40px;
        bottom: 40px;
        padding: 0;
        z-index: 2;

        @include phone {
            right: 20px;
            bottom: 20px;
        }
    }
}

.min {
    @include reset-button;
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--color-white);

    @include mobile {
        width: 24px;
        height: 24px;
    }

    &.close {
        @include hover {

            &::before,
            &::after {
                background: var(--color-blue);
            }
        }

        & span {
            font-size: 0;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            width: 24px;
            height: 2px;
            background: var(--color-white);
            border-radius: 2px;
            transition-duration: var(--transition-duration);
        }

        &::before {
            rotate: 45deg;
        }

        &::after {
            rotate: -45deg;
        }
    }

    &.back {
        display: none;

        @include mobile {
            display: flex;
        }
    }

}