.button {
    @include reset-button;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;

    padding: 0 24px;
    min-width: 56px;
    height: var(--button-height);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--color-white);
    background: var(--color-blue);
    border: 2px solid var(--color-blue);

    @include phone {
        width: 100%;
    }

    @include hover {
        color: var(--color-blue);
        background: var(--color-white);
    }

    &-chat {
        @include squere(56px);
        position: fixed;
        right: 40px;
        bottom: 40px;
        padding: 0;
        z-index: 2;

        @include phone {
            right: 20px;
            bottom: 20px;
        }
    }
}