.consist {
    & .decor-bottom {
        margin-top: 16px;
    }

    & h2 {
        @include fluid-text(64, 30);

        @include phone {
            text-align: left;
            text-wrap: balance;
        }
    }

    & .swiper {
        margin-top: clamp(3.5rem, 2.62rem + 3.76vw, 6rem);

        &-slide {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: clamp(1.5rem, 0.62rem + 3.76vw, 4rem);

            @include mobile {
                flex-direction: column;
            }

            & .slide-img {
                width: 50%;

                @include mobile {
                    width: 100%;
                }

                & img {
                    margin: 0 auto;
                }
            }

            & .slide-content {
                width: 50%;

                @include mobile {
                    width: 100%;
                }
            }

            & h4 {
                margin-bottom: clamp(1rem, 0.648rem + 1.5vw, 2rem);
            }
        }
    }
}