.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 24px 0;
    color: var(--color-white);
    background: var(--color-black);

    & a {
        color: var(--color-white);

        @include hover {
            color: var(--color-blue);
        }
    }

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &__branding {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 32px;

    @include mobile {
        gap: 16px;
    }

    & a {
        @include flex-center;
        gap: 16px;

        @include hover {
            color: var(--color-blue);
        }
    }
}