.header {
    position: relative;
    z-index: 1;
    color: var(--color-white);
    background: var(--color-black);

    &.home {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    & a {
        color: var(--color-white);

        @include hover {
            color: var(--color-blue);
        }
    }

    &__branding {
        padding-block: 24px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phone {
            padding-block: 20px;
        }
    }

    // &__social {
    //     margin-left: clamp(2.5rem, -14.595rem + 35.66vw, 17.5rem);

    //     @include mobile {
    //         margin-left: clamp(1.25rem, -15.658rem + 48.31vw, 7.5rem);
    //     }

    //     @include phone {
    //         margin-left: 0;
    //     }
    // }

    // & .burger {
    //     margin-left: auto;

    //     @include phone {
    //         margin-left: 0;
    //     }
    // }
}

.social {
    display: flex;
    align-items: center;
    gap: 32px;

    @include mobile {
        gap: 16px;
    }

    & a {
        @include flex-center;
        gap: 16px;

        @include hover {
            color: var(--color-blue);
        }
    }

    & span {
        display: none;
    }
}

.lang {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 32px;

    @include mobile {
        padding: 20px;
    }

    @include phone {
        border-top: 1px solid #FFFFFF1A;
        border-bottom: 1px solid #FFFFFF1A;
        justify-content: flex-end;
    }

    & li {

        @include flex-center;
        font-size: 16px;
        opacity: .5;
        text-transform: uppercase;
        transition: all .3s ease;

        @include hover {
            opacity: 1;
        }

        &.current-lang {
            opacity: 1;
        }
    }

}