.hero {
    height: 100vh;
    min-height: 700px;
    display: flex;
    color: var(--color-white);
    background: var(--color-black) no-repeat center / cover;

    &__wrapper {
        margin: auto;
        @include flex-center;
        flex-direction: column;

        & h1 {
            max-width: 950px;
        }

        & .button {
            margin-top: 32px;

            @include phone {
                width: 100%;
            }
        }
    }
}