.logo {
    display: block;

    @include hover {
        & img {
            scale: 1.1;
        }
    }

    & img {
        max-width: 80px;
        transition-duration: var(--transition-duration);

        @include mobile {
            max-width: 50px;
        }
    }
}