.partners {

    & h2 {
        max-width: 900px;
        margin: 0 auto;

        @include fluid-text(64, 25);
    }

    &__list {
        margin-top: clamp(3.5rem, 2.62rem + 3.76vw, 6rem);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
            justify-content: center;
        }

        & li {
            @include flex-center;
            width: 16%;

            @include tablet {
                width: 25%;
            }

            @include mobile {
                width: 33%;
            }

            &:nth-child(1),
            &:nth-child(2) {
                width: 50%;

                @include phone {
                    width: 100%;
                }
            }
        }
    }
}