.prices {
    &.dark {
        color: var(--color-gray-alt);
        background: radial-gradient(31.29% 56.17% at 92.19% 33.84%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%), radial-gradient(20.07% 30.61% at 15.94% 62.28%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%), linear-gradient(0deg, #030A16, #030A16);
    }

    & h2 {
        margin-bottom: 44px;

        @include mobile {
            margin-bottom: 56px;
        }
    }

    & p {
        max-width: 700px;
        margin: 0 auto;
    }

    &__list {
        margin-top: 12px;

        @include mobile {
            margin-top: 32px;
        }

        &>li {
            padding: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #667085;
            background: #FFFFFF0A;

            @include mobile {
                padding: 20px;
            }

            & h5 {
                margin-top: 20px;
                color: var(--color-blue);
            }

            & .button {
                margin-top: 56px;
                width: 100%;

                @include mobile {
                    margin-top: 20px
                }
            }

        }
    }

    &__decor {
        @include flex-center;
        @include squere(40px);
        background: #F4EBFF;
        border: 6px solid #F9F5FF;
        border-radius: 50%;
    }

    &__details {
        margin-top: 8px;
        color: var(--color-white);
        font-size: 32px;
        font-weight: 700;
    }

    &__details-list {
        margin-top: 24px;
        padding: 32px 0;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 16px;

        @include mobile {
            margin-top: 20px;
            padding: 20px 0;
        }

        &>li {
            position: relative;
            display: flex;
            gap: 12px;

            &::before {
                content: '';
                display: inline-block;
                min-width: 24px;
                height: 24px;
                border-radius: 50%;
                background-image: url('../images/icon/agree.svg');
                background: url(../images/icon/agree.svg) no-repeat center, var(--color-white);
            }
        }
    }
}