.quiz {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    padding: 26px 0;
    background: #FFFFFF24;

    &__wrapper {
        width: 100%;
        height: 100%;
        background: var(--color-black);

        &.container {
            max-width: 1100px;
            padding: 20px;
        }
    }
}
.survey {
    @include mobile {
        padding-block: 20px;
    }

    & .dark {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
        padding: clamp(3rem, 1.856rem + 4.88vw, 6.25rem) 20px;
        color: var(--color-gray-alt);
        background: radial-gradient(54.17% 89.04% at 50.04% 94.25%, rgba(137, 137, 137, 0.15) 0%, rgba(137, 137, 137, 0) 100%), linear-gradient(0deg, #030A16, #030A16);

        @include mobile {
            gap: 24px;
        }

        & p {
            max-width: 700px;
            @include fluid-text(20, 15);
        }
    }
}