html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    @include fluid-text(20, 16);
    font-weight: 400;
    line-height: 1.22;

    color: var(--color-black);
    background: var(--color-white);

    &.lock {
        max-height: 100vh;
        overflow: hidden;
    }
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include reset-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include fluid-text(64, 46);
    letter-spacing: -0.02em;
    text-align: center;

    & span {
        @include fluid-text(64, 40);
        font-family: "Bicubik";
        color: var(--color-blue);
        text-transform: uppercase;
    }
}

h2 {
    @include fluid-text(64, 40);
    font-weight: 700;
    letter-spacing: -0.03em;
}

h3 {
    @include fluid-text(32, 24);
    font-weight: 700;
}

h4 {
    @include fluid-text(24, 20);
    font-weight: 700;
}

h5 {
    @include fluid-text(14, 14);
}