@import 'normalize', 'fonts', 'veriables', 'mixins', 'media', 'utils', 'globals', 'animations';

@import 'blocks/header',
'blocks/logo',
'blocks/form',
'blocks/button',
'blocks/button-burger',
'blocks/navigation',
'blocks/hero',
'blocks/created',
'blocks/advantages',
'blocks/consist',
'blocks/quiz',
'blocks/prices',
'blocks/partners',
'blocks/blog',
'blocks/feedback',
'blocks/team',
'blocks/single',

'blocks/select',
'blocks/swiper',
'blocks/about',


'blocks/footer';



.step {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 24px;

  @include mobile {
    gap: 20px;
  }
}

.step.active {
  display: flex;
}