@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Bicubik";
  src: url("../fonts/bicubik.woff"), url("../fonts/bicubik.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
:root {
  /*colors*/
  --color-black: #030A16;
  --color-white: #ffffff;
  --color-gray: #A6A6A6;
  --color-blue: #1397D6;
  --color-transparent: transparent;
  --color-shadow: rgba(22, 28, 45, 0.05);
  /*colors*/
  /*border*/
  --border: 2px solid var(--color-black);
  --border-radius: 16px;
  --border-radius-small: 10px;
  --border-radius-large: 30px;
  /*border*/
  /*body*/
  --font-family-base: "AvenirNextCyr", serif;
  --container-width: 1320px;
  --container-padding-x: clamp(1rem, -0.333rem + 5.93vw, 5rem);
  --section-padding-y: 80px;
  /*body*/
  /*button*/
  --input-height: 55px;
  --button-height: 56px;
  --icon-button-height: 30px;
  --transition-duration: 0.3s;
  /*button*/
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(16px, 20vw, 20px);
  font-weight: 400;
  line-height: 1.22;
  color: var(--color-black);
  background: var(--color-white);
}
body.lock {
  max-height: 100vh;
  overflow: hidden;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(48px, 64vw, 64px);
  letter-spacing: -0.02em;
  text-align: center;
}
h1 span {
  font-family: "Bicubik";
  color: var(--color-blue);
  text-transform: uppercase;
}

h2 {
  font-size: clamp(24px, 30vw, 30px);
  font-weight: 400;
}

h3 {
  font-size: clamp(20px, 24vw, 24px);
  font-weight: 500;
}

h4 {
  font-size: clamp(20px, 16vw, 16px);
}

h5 {
  font-size: clamp(14px, 14vw, 14px);
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 24px 0;
  color: var(--color-white);
  background: var(--color-black);
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header__branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (hover: hover) {
  .social a:hover {
    color: var(--color-blue);
  }
}
@media (hover: none) {
  .social a:active {
    color: var(--color-blue);
  }
}

@media (hover: hover) {
  .logo:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .logo:active {
    scale: 1.1;
  }
}
.logo img {
  max-width: 80px;
}
@media (max-width: 767px) {
  .logo img {
    max-width: 50px;
  }
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 0 24px;
  min-width: 56px;
  height: var(--button-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  color: var(--color-white);
  background: var(--color-blue);
  border: 2px solid var(--color-blue);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-blue);
    background: var(--color-white);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-blue);
    background: var(--color-white);
  }
}

.menu-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 48px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.menu-toggle::before, .menu-toggle::after {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: var(--color-white);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-toggle::before {
  top: 12px;
}
.menu-toggle::after {
  bottom: 12px;
}
.menu-toggle span {
  font-size: 0;
  width: 32px;
  height: 2px;
  background: var(--color-white);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .menu-toggle:hover::before, .menu-toggle:hover::after, .menu-toggle:hover span {
    background: var(--color-blue);
  }
}
@media (hover: none) {
  .menu-toggle:active::before, .menu-toggle:active::after, .menu-toggle:active span {
    background: var(--color-blue);
  }
}
.menu-toggle.burger--active span {
  opacity: 0;
}
.menu-toggle.burger--active::before, .menu-toggle.burger--active::after {
  top: 50%;
  bottom: auto;
  translate: -50% -50%;
}
.menu-toggle.burger--active::before {
  rotate: 45deg;
}
.menu-toggle.burger--active::after {
  rotate: -45deg;
}

.hero {
  position: relative;
  color: var(--color-white);
  background: var(--color-black) no-repeat center/cover;
}
.hero__wrapper {
  height: 100vh;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__wrapper h1 {
  max-width: 950px;
}
.hero__wrapper .button {
  margin-top: 32px;
}
.hero #liveChat {
  position: absolute;
  right: 40px;
  bottom: 40px;
  padding: 0;
}

.footer {
  margin-top: auto;
  padding-block: 64px 52px;
  font-size: clamp(16px, 18vw, 18px);
  color: var(--color-white);
  background: -webkit-gradient(linear, left bottom, left top, from(#040D1A), to(#040D1A)), radial-gradient(32.69% 87.5% at 63.92% 95.99%, rgba(137, 137, 137, 0.2) 0%, rgba(137, 137, 137, 0) 100%);
  background: linear-gradient(0deg, #040D1A, #040D1A), radial-gradient(32.69% 87.5% at 63.92% 95.99%, rgba(137, 137, 137, 0.2) 0%, rgba(137, 137, 137, 0) 100%);
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}
@media (max-width: 767px) {
  .footer {
    padding-block: 48px;
  }
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.footer .column {
  max-width: 400px;
}
.footer .column p {
  color: var(--color-gray);
}
.footer__social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social svg {
  color: var(--color-blue);
}/*# sourceMappingURL=style.css.map */